body,
d {
	background: black;
	color: white;
	font-family: monospace;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

c {
	display: grid;
	grid-template-columns: repeat(9, 50px);
}

d {
	height: 48px;
	width: 48px;

	background: gray;
	border: 1px solid white;
}
